h1 {
  color: limegreen;
  font-family: Times New Roman, serif;
  font-size: 28px;
}

h2 {
  color: limegreen;
  font-family: Times New Roman, serif;
  font-size: 22px;
}

em {
  font-style: italic;
}

blockquote {
  font-style: italic;
  margin-left: 60px;
}

q {
  font-style: italic;
}

#voce-sabia {
  background-image: url(../imagens/fundo.png) ;
  border: 3px solid limegreen;
  padding: 10px;
}

img {
  display: block;
  border: 8px solid limegreen;
  margin: 0 auto;
  width: 300px;
}

ul {
  padding-left: 20px;
}
