body {
  background-image: url('../imagens/fundo.png');
  background-color: #ddd;
  font-family: 'Palatino Linotype', Palatino, Georgia, serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 20px;
}

a {
  color: darkgreen;
}

a:hover {
  color: green;
}
